body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 20px;
}

#title {
  text-align: center;
  color: #2c3e50;
}

#description {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, p {
  display: block;
  margin-top: 15px;
}

input, select, textarea, button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #34495e;
}

